* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Work Sans", "Arial", Sans-serif;
  background-color: #fff;
  color: #000;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgb(0, 0, 0, 0.7)),
    url(/assets/css/img/header-img.jpg);
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 500%;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}

h2 {
  font-size: 200%;
  font-weight: 400;
  color: #fff;
}

.header-box-text {
  margin-bottom: 100px;
}

/*** BUTTONS ***/

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 200px;
}

.btn-full:link,
.btn-full:visited {
  background-color: #ed07b7;
  color: #fff;
}

.btn-full:active,
.btn-full:hover {
  background-color: #bd0592;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #ed07b7;
  color: #ed07b7;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #ed07b7;
  transition: 0.5s;
  color: #fff;
}

.main-nav {
  margin-top: 50px;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
  text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: #fff;
  transition: 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ed07b7;
}

.logo {
  width: 100px;
  border-radius: 50%;
  margin: 25px 25px;
}

/*** FLEX PROPERTIES ***/

.flex {
  display: flex;
}

.nav {
  justify-content: space-between;
}

/*** ABOUT SECTION ***/

.about-box-video {
  width: 80%;
  border-radius: 20px;
}

.about-heading {
  color: #000;
  font-size: 250%;
  font-weight: 500;
  margin-bottom: 50px;
}

.about-para {
  color: #555;
  margin-bottom: 50px;
}

.about-box {
  margin-top: 150px;
}

.about-box:first-child {
  text-align: left;
  padding: 0 5%;
}

.about-box:last-child {
  text-align: right;
}

.about-section {
  padding-bottom: 20px;
}

/*** WORK SECTION ***/
.section-heading {
  font-size: 250%;
  color: #000;
  margin-bottom: 20px;
  margin-top: 150px;
}

.section-sub-heading {
  font-size: 150%;
  color: #555;
  font-weight: 300;
  margin-bottom: 30px;
}

.section-sub-heading:after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #ed07b7;
  content: " ";
  margin: 30px auto 0 auto;
}

.work-section {
  text-align: center;
  background-color: #f4f4f4;
}

.work-portfolio {
  margin-top: 10px;
  list-style: none;
  width: 100%;
}

.work-portfolio li {
  display: block;
  width: 25%;
  float: left;
}

.portfolio-image {
  background-color: #000;
  overflow: hidden;
}

.portfolio-image img {
  width: 100%;
  opacity: 0.7;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
  cursor: pointer;
}

.work-para {
  color: #fff;
}

.portfolio-image img:hover {
  transform: scale(1);
  opacity: 1;
}
